.flexy{
    display: flex;
}

.num1{
    width: 200px;
    height: 150px;
    background-color: pink;
}
.num1:hover{
    background-color: blue;
}


.num2{
    width: 200px;
    height: 150px;
    background-color: pink;
        /*  on active la transition background-color  */
    transition-property: background-color;
        /*  le temps de la transition (ici une second)  */
    transition-duration: 1s;
}
.num2:hover{
    background-color: blue;
}


.num3{
    width: 200px;
    height: 150px;
    background-color: pink;
    transition-property: background-color, width, height;
    transition-duration: 500ms;
}
.num3:hover{
    background-color: blue;
    width: 300px;
    height: 250px;
}

.num4{
    width: 200px;
    height: 150px;
    background-color: pink;
    transition-property: all;
    transition-duration: 500ms;
}
.num4:hover{
    background-color: blue;
    width: 300px;
    height: 250px;
}



.num5{
    width: 200px;
    height: 150px;
    background-color: blue;
    transition-property: all;
    transition-duration: 2s;
    transition-delay: 2s;
}
.num5:hover{
    background-color: pink;
    width: 400px;
    height: 200px;
}

.num6{
    width: 250px;
    height: 150px;
    background-image: radial-gradient(circle at center, blue, pink);

    transition-property: transform;

    transition-duration: 2s;

    transition-timing-function: ease;
}
.num6:hover{
    transform: translateX(400px);
}

.num7{
    width: 250px;
    height: 150px;
    background-image: radial-gradient(circle at center, blue, pink);

    transition-property: transform;

    transition-duration: 2s;

    transition-timing-function: linear;
}
.num7:hover{
    transform: translateX(400px);
}
.num8{
    width: 250px;
    height: 150px;
    background-image: radial-gradient(circle at center, blue, pink);

    transition-property: transform;

    transition-duration: 2s;

    transition-timing-function: ease-in;
}
.num8:hover{
    transform: translateX(400px);
}
.num9{
    width: 250px;
    height: 150px;
    background-image: radial-gradient(circle at center, blue, pink);

    transition-property: transform;

    transition-duration: 2s;

    transition-timing-function: ease-out;
}
.num9:hover{
    transform: translateX(400px);
}
.num10{
    width: 250px;
    height: 150px;
    background-image: radial-gradient(circle at center, blue, pink);

    transition-property: transform;

    transition-duration: 2s;

    transition-timing-function: ease-in-out;
}
.num10:hover{
    transform: translateX(400px);
}
.num11{
    width: 250px;
    height: 150px;
    background-image: radial-gradient(circle at center, blue, pink);

    transition-property: transform;

    transition-duration: 2s;

    transition-timing-function: cubic-bezier(.31, -0.98, 1, -0.34);
}
.num11:hover{
    transform: translateX(400px);
}

.num12{
    width: 250px;
    height: 150px;
    background-color: pink;

    transition: background-color 5s ease;
}
.num12:hover{
    background-color: green;
}

.num13{
    width: 250px;
    height: 150px;
    background-color: pink;

    transition: background-color 2s ease, width 4s ease-in-out;
}
.num13:hover{
    background-color: blue;
    width: 500px;
}
/*
.num1{

}

.num1{

}

.num1{

}

.num1{

}

.num1{

}

.num1{

}

.num1{

}

.num1{

}
*/
