a{
    margin-left: 50px;/* juste pour l'exemple */
}

body{
    perspective: 800px;
    margin-left: 200px; /* juste pour l'exemple */
}

div{
    width: 200px;
    height: 100px;
}
.num1{
    transform: translateZ(200px);

    /* ce qui suit est just pour montrer l'éffet que ca a! */
    background-color: blue;
    z-index: 3;
    position: absolute;
}
.num2{
    transform: translateZ(0px);

    /* ce qui suit est just pour montrer l'éffet que ca a! */
    background-color: red;
    z-index: 2;
    position: absolute;
}
.num3{
    transform: translateZ(-200px);

    /* ce qui suit est just pour montrer l'éffet que ca a! */
    background-color: green;
    z-index: 1;
    position: absolute;
}

/*          page rotation.html          */

.num4{
    transform: rotateX(50deg);
    background-color: green;
}
.num5{
    transform: rotateY(50deg);
    background-color: red;
}
.num6{
    transform: rotateZ(50deg);
    background-color: blue;
}

.num7{
    background-color: pink;
}
.num7:hover{
    transform: rotateY(360deg);
    transition-duration: 3s;
}

.num8{
    background-color: violet;

}
.num8:hover{
    transform: rotateY(360deg);
    transition-duration: 3s;
    backface-visibility: hidden;
}


/*          Catre deux faces             */

#devant, #derriere{
    width: 250px;
    height: 150px;
    position: absolute;
    top: 200px;
    left: 300px;
    opacity: 0.5;
    border: 2px solid #444;
    text-align: center;
    font-size: 1.3em;
    font-family: arial, sans-serif;
    transition: 2s;
    backface-visibility: hidden;
}

#devant{
    z-index: 100;
    background-image: url(../image/lifts.jpg);
    background-size: cover;
}
#derriere{
    z-index: 50;
    background-image: url(../image/architecture.jpg);
    background-size: cover;
    transform: rotateY(-180deg);
}

#devant:hover{
    transform: rotateY(360deg);
}
#devant:hover + #derriere{
    transform: rotateY(180deg);
}
